/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
/* Section 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 50px;
    font-size: 20px;
}

nav ul li:first-child {
    font-weight: 600;
    text-decoration: underline;
}

.navbar-container div img {
    width: 150px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon svg {
    width: 25px;
}

.nav-button {
    padding: 10% 60%;
    margin-left: 10%;
    border-radius: 15px;
    font-size: 20px;
}

/* Section 2 */
.hero-container{
    display: flex;
    margin: 0px 10px; 
}

.hero-container>div>img{
    width: 350px;
    z-index: 1;
    margin-top: 125px;
}

.square img{
    width: 240px;
    position: absolute;
    margin-top: 360px;
    margin-left: 160px;
    z-index: -1;
}

.star1 img{
    z-index: -1;
    position: absolute;
    margin-left: 1280px;
    width: 50px;
}

.star2 img{
    z-index: -1;
    position: absolute;
    margin-left: 550px;
    margin-top: 500px;
    width: 40px;
}

.globe img{
    z-index: -1;
    position: absolute;
    margin-left: 780px;
    margin-top: -18px;
    width: 50px;
}

.hero-container-right{
    margin-top: 70px;
    margin-left: 82px;
    z-index: -1;
    text-align: center;
}

.hero-heading{
    font-size: 50px;
}

.hero-description{
    font-size: 15px;
    padding: 100px;
    margin: 0px 50px;
    font-weight: 320;
}

.button-email{
    background-color: #ffffff;
    /* padding: 0.25rem 2em; */
    padding: 4px 32px;
    border-radius: 8px;
    font-size: 18px;
    margin: 5px 8px;
}

.button-join{
    background-color: #0b0c0e;
    color: #ffffff;
    border: #0b0c0e;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 18px;
    margin: 5px 8px;
}

.contact-heading{
    margin-top: 62px;
    font-weight: 400;

}

.icons img{
    width: 35px;
    margin: 20px 10px 0px 10px;
}